.DS_Store
.idea
.claude/settings.local.json
.nuxt
.output
.temp
*.log
components.d.ts
dist
index.json
indexes.json
node_modules
cache

playgrounds/*/pnpm-lock.yaml

.vitepress/cache

esbuild-kit
tsx-*

**/.fue/**
